$color1: white;
$color2: #231f20;
$color3: #ff7417;
$color4: #f3f3f3;
$color5: #65c18d;
$color6: #e4e4e4;

$primary: $color3 !default;
$info: $color5 !default;
$dark: $color2 !default;
$light: $color1 !default;

$font-1-thin: "Neusa-Thin";
$font-1-light: "Neusa-Light";
$font-1: "Neusa";
$font-1-medium: "Neusa-Medium";
$font-1-bold: "Neusa-Bold";

@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-checkradio/dist/css/bulma-checkradio.sass";
@import "../../node_modules/bulma-carousel/src/sass/index.sass";
// @import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
// @import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
// @import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
// @import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file+".eot"), url($font-file+".woff") format("woff"),
      url($font-file+".ttf") format("truetype"),
      url($font-file+".svg#aller") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

@include font("Neusa-Thin", "./../fonts/NeusaNextPro-Thin");
@include font("Neusa-Light", "./../fonts/NeusaNextPro-Light");
@include font("Neusa", "./../fonts/NeusaNextPro-Regular");
@include font("Neusa-Medium", "./../fonts/NeusaNextPro-Medium");
@include font("Neusa-Bold", "./../fonts/NeusaNextPro-Bold");

h4 {
  font-family: $font-1-medium;
  font-weight: normal;
  font-size: 24px;
}

a.button,
button {
  font-family: $font-1-bold;
  font-weight: normal;
  font-size: 16px;
  padding-top: calc(0.6em - 1px) !important;
}

body {
  font-family: $font-1;
  background-color: $color1;
  p {
    font-family: $font-1;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
  }
  .navbar-item {
    img {
      max-height: 1.5rem;
    }
  }
}
.navbar {
  background-color: $color2 !important;
  a,
  .icon {
    color: $color1;
  }
}

// START NAVBAR
@media screen and (max-width: 1023px) {
  .columns {
    margin-left: 0;
    margin-right: 0;
  }
  .margin-contact {
    margin: 0 auto !important;
  }
  .notif-fixed-top {
    position: fixed;
    top: 0;
    left: 20%;
    z-index: 99;
  }
  .navbar-center-mobile {
    align-items: stretch;
    display: flex;
  }
  .navbar-menu {
    .navbar-item {
      color: $color2;
      text-align: center;
    }
    .navbar-center {
      .navbar-item::before {
        display: none;
      }
    }
  }
  .navbar {
    .icon {
      color: $color2;
    }
  }
  .notification {
    width: 60%;
  }
  article {
    .prix {
      width: 40%;
    }
  }
  .products {
    margin: -0.75rem 0 0 0 !important;
  }
}

.a-comment-alt {
}

@media screen and (min-width: 1024px) {
  .small-text-area {
    width: 80%;
    margin: 0 auto;
  }
  .notif-fixed-top {
    position: fixed;
    top: 0;
    left: 38%;
    z-index: 99;
  }
  .navbar-center {
    align-items: stretch;
    display: flex;
  }
  .hero.is-fullheight-with-navbar {
    min-height: calc(100vh - 5.65rem) !important;
  }
  .navbar-menu {
    .navbar-end {
      margin-left: 0;
      a.navbar-item:active,
      a.navbar-item:hover {
        background-color: $color2 !important;
        span.icon:hover {
          color: $color3;
        }
      }
    }

    .navbar-center {
      .navbar-item::before {
        content: "";
        background-color: $color3;
        opacity: 1;
        width: 50%;
        height: 0.6rem;
        position: absolute;
        left: 25%;
        bottom: 34%;
        z-index: -10;
        opacity: 0.8;
      }
      .navbar-item:active,
      .is-active::before,
      .is-active,
      .navbar-item:hover {
        background-color: $color2;
        font-family: $font-1-bold;
        color: $color3;
      }
    }
  }
  .fa-stack-1x {
    margin-left: 7px;
  }
  .notification {
    width: 25%;
  }
  article {
    .prix {
      width: 20%;
    }
  }
}

.navbar-center {
  margin: 0 auto;
}

a.icon-reseaux:hover {
  background-color: $color2 !important;
  span.icon:hover {
    color: $color3;
  }
}

.hero-footer {
  background-color: $color2;
  color: $color1;
  .columns {
    margin: 0;
    .column {
      padding: 0.2rem 1rem 0.2rem 1rem !important;
      a {
        color: $color1;
      }
    }
  }
}

.navbar-item {
  img {
    max-height: 1.5rem;
  }
}
// END NAVBAR

// START HOME
#home_logo {
  height: auto;
  width: auto;
}
#slogan {
  font-size: 1.3rem;
}

.columns {
  .column {
    h2 {
      color: $color3;
      font-size: 1.3rem;
    }
  }
}

.box {
  background-color: $color4;
}

.extended {
  background-color: $color3;
  padding: 0.4rem 0 0.3rem 0;
  .title {
    font: 20px $font-1-medium, sans-serif;
    color: $color1;
  }
}
.verticaly-top {
  align-items: baseline !important;
}
.is-fullheight-with-navbar {
  .hero-body {
    padding: 0 0 3rem 0;
  }
}
.is-fluid-without-padding {
  max-width: none;
  padding: 0;
  width: 100%;
}

.custom-card-footer {
  background-color: $color2;
}

.has-item-centered {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#profil-default {
  height: 50%;
  width: 50%;
}

.button-edit {
  margin-top: -5%;
}

.margin-form {
  margin-left: 5%;
  margin-right: 5%;
}

.repairer {
  background-color: $color4;
  // border-style: solid;
  // border-radius: 10px;
  // border-color: $color2;
  // border-width: 2px;
  margin: 20px;
  // padding-top: 3px;
  // padding-bottom: 3px;
  // padding-left: 10px;
  // padding-right: 10px;
}

.rate {
  background-color: $color5;
  border-radius: 50px;
  color: $color4;
  width: 80%;
  font-family: $font-1-bold;
}

.star::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f005";
  color: $color1;
}

.is-scrollable {
  height: 30rem;
  margin: 20px;
  padding-right: 30px;
  overflow-y: scroll;
  hr {
    background-color: $color2;
    margin: 0;
    width: 100%;
    height: 1px;
  }
}

.is-margin-top {
  margin-top: 20px;
}

.margin-contact {
  margin-left: 15%;
  margin-right: 15%;
}

.tile {
  a {
    color: $color2;
    text-decoration: underline;
  }
  .title {
    font-family: $font-1-bold;
    font-size: 25px;
    font-weight: normal;
  }
  .field {
    .label {
      font-family: $font-1-light;
      font-size: 14px;
      font-weight: normal;
    }
    .control {
      .select {
        select {
          option {
            font-family: $font-1;
            font-size: 16px;
            font-weight: normal;
          }
        }
      }
    }
  }
}
// label::before {
//   border-color: $color3 !important;
//   background-color: $color3 !important;
// }
.container2 {
  padding: 1rem;
  background-color: $color4;
}
article {
  a {
    color: $color3;
    text-decoration: underline;
    font-family: "Neusa-Light";
    font-size: 14px;
    font-weight: normal;
  }
}

.margin-contact {
  margin-left: 25%;
  margin-right: 25%;
}

.min-height-textarea {
  min-height: 20rem !important;
  margin-bottom: 5%;
}

.contact-footer {
  background-color: $color2;
}

.panel {
  color: $color3;
  .panel-tabs {
    a {
      color: $color2;
    }
    a:hover {
      color: $color3;
    }
  }
  .panel-block {
    .title {
      font-size: 20px;
      font-weight: normal;
      line-height: normal;
    }
    .subtitle {
      font-size: 16px;
    }
    .panel-icon {
      color: $color3;
      margin-right: 0;
    }
  }
}

.text-footer {
  color: $color1;
}
.is-color6 {
  background-color: $color6;
}

.is-white {
  background-color: $color1;
}

.card {
  border-radius: 20px;
}

/**
.fa-stack {
  font-size: .8em; 
  i { vertical-align: middle; }
}
**/
.green-circle {
  color: $color5;
}

.orange-circle {
  color: $color3;
}

.orange {
  background-color: $color3;
}

.card-header {
  display: block;
  padding-bottom: 2rem;
}
.card-header,
.card-content {
  background-color: $color4;
}

.custom-card-footer {
  .columns {
    .column {
      p {
        color: $color1;
        font-size: 1.5rem;
      }
    }
  }
}

.column-edit {
  padding-right: 5%;
  padding-top: 2rem;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
  }
  div {
    color: $color1;
    background-color: $color2;
  }
  #selected {
    color: $color1;
    background-color: $color3;
  }
  .text-block {
    position: absolute;
    color: $color2;
    background-color: transparent;

    margin-top: -40%;
    width: 100%;
  }
  article {
    background-color: $color6;
    margin-bottom: 15%;
    width: 100%;
    position: relative;
  }
}
.contacts {
  max-height: 47rem;
  min-height: 47rem;
  overflow-y: scroll;
  border-right: 1px solid $color2;

  hr {
    background-color: $color1;
    margin: 0;
  }
}

.b-1b {
  border-bottom: 1px solid $color2;
}

.contact {
  background-color: $color4;
  padding: 30px;
}

.chat {
  width: 490px;
  float: left;
  background: $color4;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  color: $color2;

  .chat-history {
    // padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 30rem;

    .message-data {
      margin-bottom: 15px;
      font-size: 12px;
      font-family: $font-1-light;
    }

    .message-data-time {
      color: lighten($color2, 8%);
      padding-left: 6px;
    }

    .message {
      color: white;
      padding: 18px 20px;
      font-size: 14px;
      border-radius: 7px;
      margin-bottom: 10px;
      position: relative;
      @media screen and (min-width: 1024px) {
        width: 60%;
      }
      @media screen and (max-width: 1023px) {
        width: 90%;
      }

      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $color2;
        border-width: 10px;
        margin-left: -10px;
      }
    }

    .my-message {
      background: $color2;
    }

    .other-message {
      background: $color3;

      &:after {
        border-bottom-color: $color3;
        left: 93%;
      }
    }

    li {
      list-style-type: none;
    }
  }
  .chat-message {
    padding: 30px;
    textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;
    }
    .fa-file-o,
    .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer;
    }
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.card {
  .title {
    font-family: $font-1-medium;
    font-size: 25px;
    font-weight: normal;
    line-height: normal;
  }
  .subtitle {
    font-family: $font-1-light;
    font-size: 16px;
  }
}

.card {
  .title {
    font-family: $font-1-medium;
    font-size: 25px;
    font-weight: normal;
    line-height: normal;
  }
  .subtitle {
    font-family: $font-1-light;
    font-size: 16px;
  }
}

hr {
  background-color: $color2;
  margin: 0 auto;
  width: 70%;
  height: 1px;
}
.image-grid {
  height: 110px;
  width: auto;
  max-width: 300px;
}
.panel {
  div.panel-block:first-of-type {
    background-color: $color4;
  }
  .panel-block {
    display: block;
    hr {
      background-color: $color2;
      margin: 0 auto;
      width: 2px;
      height: 100%;
    }
  }
  .panel-tabs {
    background-color: $color4;
    a {
      text-decoration: none;
    }
  }
}

.image {
  background-color: $color4;
  img {
    height: 45px;
    width: auto;
    margin: 0 auto;
  }
}

.image-default {
  background-color: transparent;
}
.article-cgu {
  margin-bottom: 4%;
  h2 {
    margin-bottom: 2%;
  }
  .article-cgu-list {
    margin-left: 5%;
    margin-bottom: 2%;
  }
}
.social-media {
  .icon {
    margin-top: 20px;
    margin-right: 30px;
    color: $color3;
  }
  .icon:hover {
    color: $color2;
  }
}

.without-blue {
  color: $color2;
}
.legal-mentions {
  margin-bottom: 20px;
  margin-top: 20px;
  .subtitle {
    color: $color3;
  }
}

.notification {
  padding: 5px 10px 5px 10px;
  border-radius: 0 0 8px 8px;
  background-color: $color5;
  color: $color1;
  margin: 0 auto;
  .delete {
    top: 0.25rem;
  }
}
.has-background-white {
  a {
    color: $color3;
  }
}
.card-icon {
  margin: 1rem 0 1rem 0 !important;
  .image-home {
    height: 6rem;
    width: auto;
  }
}
.card-action {
  margin: 1rem 0 0 0 !important;
}
.title-wrapper {
  margin: 0 0 5rem 0 !important;
}
// AVATAR UPLOAD
.avatar-upload {
  position: relative;
  max-width: 192px;
  height: 8rem;
  margin: 0 auto 2rem auto;
  .avatar-edit {
    position: absolute;
    left: 5.2rem;
    z-index: 1;
    top: -15px;
    input {
      display: none;
      + label {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #ffffff;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all 0.2s ease-in-out;
        &:hover {
          background: #f1f1f1;
          border-color: #d6d6d6;
        }
        &:after {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f093";
          color: #757575;
          position: absolute;
          top: 5px;
          left: 0;
          right: 0;
          text-align: center;
          margin: 0 auto;
        }
      }
    }
  }
  .avatar-preview {
    width: 192px;
    height: 8rem;
    position: relative;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    > div {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
.navbar-center {
  a.navbar-item {
    font-family: $font-1-medium;
    font-size: 17px;
    font-weight: normal;
    line-height: normal;
  }
}

// AVATAR 2
.avatar-upload2 {
  position: relative;
  max-width: 192px;
  margin: 0 auto 4rem auto;
  .avatar-edit {
    position: absolute;
    right: 78px;
    z-index: 1;
    top: 172px;
    input {
      display: none;
      + label {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #ffffff;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all 0.2s ease-in-out;
        &:hover {
          background: #f1f1f1;
          border-color: #d6d6d6;
        }
        &:after {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f093";
          color: #757575;
          position: absolute;
          top: 5px;
          left: 0;
          right: 0;
          text-align: center;
          margin: 0 auto;
        }
      }
    }
  }
  .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    > div {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
.m-2b {
  margin-bottom: 2rem !important;
}
.m-1b {
  margin-bottom: 1rem !important;
}
.p-3t {
  padding-top: 3rem !important;
}
.m-1t {
  margin-top: 1rem !important;
}
.m-2l {
  margin-left: 2rem !important;
}
form.profil {
  margin: 0 1rem 0 1rem;
}
.is-8-mobile,
.is-3-desktop {
  p.title {
    font-family: $font-1-bold;
    font-size: 25px;
    font-weight: normal;
  }
}

#search_bar {
  .panel {
    box-shadow: none !important;
    .panel-tabs {
      background-color: $color1 !important;
    }
    .panel-block {
      background-color: $color1 !important;
    }
  }
}
.card-image {
  figure.image {
    background-color: $color6;
    height: 10rem;
    img {
      height: 100%;
      width: auto;
    }
  }
}
.to-repare::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f552";
  color: $color5;
  padding-left: 1rem;
}
.media {
  .media-content {
    p.title {
      font-size: 22px !important;
    }
    p.subtitle {
      margin-bottom: 0.6rem;
    }
  }
}
.all-ads {
  .card-content {
    padding: 0.8rem 0.5rem 0.8rem 0.5rem !important;
  }
}
.card-footer {
  background-color: $color2;
  a {
    color: $color1;
  }
}
.columns {
  margin-top: 0;
}
.column-without-p-top {
  padding-top: 0;
}
.save-ad {
  color: $color3;
}
.sign-in-home {
  padding: 4rem 3rem 4rem 3rem;
  border-radius: 10px 0 0 10px;
}
.sign-up-home {
  background-color: $color3;
  padding: 4rem 3rem 4rem 3rem;
  border-radius: 0 10px 10px 0;
  color: $color1;
  .title {
    color: $color1;
  }
  .subtitle {
    color: $color1;
  }
  .input {
    background-color: $color3;
    color: $color1;
  }
}
.title .is-height {
  column-rule: $color1;
}
.shadows-effect {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
}
.p-form {
  padding-top: 0.75rem;
}
label.checkbox {
  a {
    color: $color2;
    text-decoration: underline;
  }
}

// SLIDER
.slider {
  margin: 30px auto 0;
  padding: 1rem;
  background: white;
  max-width: 500px;
}
.slider__images-item {
  img {
    height: 200px;
    width: auto;
    width: 80%;
    margin: 0 10% 0 10%;
  }
}
.slider__images {
  opacity: 0;
  visibility: hidden;
  position: relative;
  top: 0px;
  left: 0px;
  list-style-type: none;
  transition: opacity 0.4s ease-in, visibility 0.4s ease-in;

  &.loaded {
    opacity: 1;
    visibility: visible;
  }

  &-item {
    position: absolute;
    top: 0px;
    left: 0px;

    .no-js & {
      &:first-of-type {
        position: relative;
      }

      &:not(:first-of-type) {
        display: none !important;
      }
    }
  }

  &-image {
    display: block;
  }
}
.slider__controls {
  margin-top: 15px;
  user-select: none;
  text-align: center;
}
.slider__control {
  display: inline-block;
  color: #829995;
  cursor: pointer;
}
.slider__control--prev {
  margin-right: 10px;
}
.slider__control--next {
  margin-left: 10px;
}
.slider__pagers {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    color: #829995;
    padding: 0 10px;

    &.active {
      color: #333;
    }
  }
}

.icon-before-msg::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  color: $color3;
  padding-left: 1rem;
}
.input_number_without_arrows {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
