{% extends 'base.html.twig' %} 

{% block title %}
	{{ parent() }} - Déposer une annonce
{% endblock %}

{% form_theme newAdForm _self %}
{%- block text_widget -%}
<input name="{{ full_name }}" class="input" type="text" id="text_{{ value }}" placeholder="{{label}}" required> 
{%- endblock text_widget -%}
{%- block password_widget -%}
<input name="{{ full_name }}" class="input" type="password" id="password_{{ value }}" placeholder="{{label}}" required> 
{%- endblock password_widget -%}
{%- block email_widget -%}
<input name="{{ full_name }}" class="input" type="email" id="email_{{ value }}" placeholder="{{label}}" required> 
{%- endblock email_widget -%}
{%- block number_widget -%}
<input name="{{ full_name }}" class="input" type="number" id="number_{{ value }}" placeholder="{{label}}" required> 
{%- endblock number_widget -%}
{%- block textarea_widget -%}
<textarea name="{{ full_name }}" class="textarea" type="textarea" id="number_{{ value }}" placeholder="{{label}}" required></textarea> 
{%- endblock textarea_widget -%}
{%- block submit_widget -%}
<input class="button is-primary is-outlined" name="{{ full_name }}" id="submit_{{ value }}" type="submit" value="Valider"/>
{%- endblock submit_widget -%}

{% block navbar %}
{{ parent() }}
<div class="container-is-fluid extended">
  <p class="title has-text-centered">Déposer une annonce</p>
</div>
<div id="notif" class="notification notif-fixed-top is-hidden">
  <button class="delete"></button>
  <p>Annonce publiée !</p>
</div>
{% endblock %} {% block body %}

<div class="container">
  <div class="columns container2 is-multiline is-desktop p-3t">
    <div class="column is-9-desktop is-12">
      <!-- Information part (left)  -->
      <article class="tile is-child ">
        <p class="title has-text-centered">Informations produit</p>
        {{ form_start(newAdForm) }}
        <div class="field">
          <label class="label">Catégorie</label>
          <div class="control">
            {{ form_widget(newAdForm.category) }}
          </div>
        </div>
        <div class="field">
          <label class="label">Nom du produit</label>
          <div class="control">
              {{ form_widget(newAdForm.name) }}
            {# <input class="input" type="text" placeholder="Iphone 4" /> #}
          </div>
        </div>
        <div class="field">
          <label class="label">Etat du produit</label>
          <div class="control">
              {{ form_widget(newAdForm.breakState) }}
            {# <input class="input" type="text" placeholder="Ecran cassé" /> #}
          </div>
        </div>

        <div class="field">
          <label class="label">Description</label>
          <div class="control">
              {{ form_widget(newAdForm.description) }}
            {# <textarea class="textarea" placeholder="Je vend mon ..."></textarea> #}
          </div>
        </div>

        <div class="field">
          <div class="control">
            <div class="field">
                {{ form_widget(newAdForm.purpose) }}
              
              {# <input
                class="is-checkradio is-rtl has-background-color is-white"
                id="exampleRtlRadioInline1"
                type="radio"
                name="exampleRtlRadioInline"
                checked="checked"
              />
              <label for="exampleRtlRadioInline1">Vendre</label>
              <input
                class="is-checkradio is-rtl has-background-color is-white"
                id="exampleRtlRadioInline2"
                type="radio"
                name="exampleRtlRadioInline"
              />
              <label for="exampleRtlRadioInline2">Réparer</label> #}
            </div>
          </div>
        </div>

        <div class="field prix m-2b">
          <label class="label">Prix</label>
          <div class="control has-icons-right">
              {{ form_widget(newAdForm.price) }}
            {# <input class="input" type="text" placeholder="Prix" /> #}
            <span class="icon is-small is-right">
              <i class="fas fa-euro-sign"></i>
            </span>
          </div>
        </div>
      </article>
    </div>
    <!-- Images to upload -->
    <div
      class="column is-3-desktop is-8-mobile is-offset-2-mobile"
    >
    <p class="title has-text-centered">Images produit</p>
    {# AVATAR 1 #}
      <div class="avatar-upload">
        <div class="avatar-edit">
          <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg" />
          <label for="imageUpload"></label>
        </div>
        <div class="avatar-preview">
          <div
            id="imagePreview">
          </div>
        </div>
      </div>
    {# AVATAR 2 #}
    <div class="avatar-upload">
        <div class="avatar-edit">
          <input type="file" id="imageUpload2" accept=".png, .jpg, .jpeg" />
          <label for="imageUpload2"></label>
        </div>
        <div class="avatar-preview">
          <div
            id="imagePreview2">
          </div>
        </div>
      </div>
      {# AVATAR 3 #}
      <div class="avatar-upload">
          <div class="avatar-edit">
            <input type="file" id="imageUpload3" accept=".png, .jpg, .jpeg" />
            <label for="imageUpload3"></label>
          </div>
          <div class="avatar-preview">
            <div
              id="imagePreview3">
            </div>
          </div>
        </div>
    </div>
    <div class="column is-half is-offset-one-quarter has-text-centered">
        {{ form_widget(newAdForm.submit) }}
      {# <a class="button is-primary is-rounded is-outlined" href="{{ path("home_connected") }}" onclick="isSend()">Publier</a> #}
      {{ form_end(newAdForm) }}
    </div>
  </div>
</div>
<script>
  const fileInput = document.querySelector("#file-js-example input[type=file]");
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector("#file-js-example .file-name");
      fileName.textContent = fileInput.files[0].name;
    }
  };
</script>
{% endblock %}

